section #padding {
	float: left;
	width: 58.5%;
}

aside {
	display: block;
	float: left;
	width: 31%;
	margin: 0;
	padding-left: 0;
}

#extraContainer7 aside {
	display: none;
	position: relative;
}




@media only screen and (max-width: 767px) {

section #padding, aside {
	width: 93%;
	}


aside {
	padding-left: 3.5%;
	}

}

